.main-container {
  min-height: 100vh;
  background-color: #ffeed9;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-logo {
  padding: 20px;
  height: 62px;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.nav-links {
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 62px;
}

.nav-links:hover {
  background-color: #81f881;
}

.nav-button {
  background-color: #81f881;
  margin: 0 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  outline: none;
}

.scroll-bg {
  padding: 50px;
  background-image: linear-gradient(0deg, #ffeed9, #ffeed9a6, #d1b28c62),
    url(./static/long.png);
  background-repeat: repeat-y;
  background-position: 0 0;
  background-size: cover;
  animation: moveUp 10s linear infinite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  height: 200px;
  width: 200px;
}

.carousel-body {
  font-size: 80%;
  width: 200px;
  white-space: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f8f8f8d3;
  padding: 20px;
  margin: 10px;
}

@keyframes moveUp {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

.cta-button {
  background-color: #81f881;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: large;
  font-weight: bolder;
}

@media only screen and (max-width: 600px) {
  .scroll-bg {
    flex-direction: column;
  }

  .nav-item {
    flex: 1;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.form-control {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.form-control input {
  border: 1px solid #81f881;
  outline: none;
  padding: 5px;
}

.form-control textarea {
  border: 1px solid #81f881;
  outline: none;
  height: 100px;
}

.card-img {
  height: 200px;
  width: 200px;
}

.card {
  font-size: 80%;
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8d3;
  padding: 20px;
}

.card button {
  width: 100%;
}

.product-cotainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #0a1a0a;
  color: white;
}
